.welcome-card {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    background-color: white; 
    padding: 20px;
    margin: 20px; 
    text-align: left;
    min-height: 110px;
    min-width: 600px;
  }
  
  .welcome-greeting {
    font-size: 1.5em; 
    font-weight: bold;
    color: rgba(11, 102, 35);
  }
  
  .welcome-message {
    font-size: 1.1em; 
    margin-top: 10px;
  }
  