.welcome-card {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  background-color: white; 
  padding: 20px;
  margin: 20px; 
  text-align: center;
  min-height: 200px; /* Adjusted for profile circle and buttons */
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(65, 105, 225, 0.2); /* Light blue background */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-initials {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(9, 105, 125, 0.5); ; /* Medium blue background */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
}

.welcome-greeting {
  font-size: 1.5em; 
  font-weight: bold;
  color: #09697D;
}

.welcome-message {
  font-size: 1.1em; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.welcome-buttons {
  margin-top: 20px;
}

.welcome-button {
  padding: 10px 20px;
  color: white;
  background-color: #09697D;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
  width: 100px;
}

.welcome-button:hover {
  background-color: rgba(9, 237, 237); /* Brighter hover color */
}
