/* SearchBar.css */

.search-bar {
    position: relative; /* Relative position within the navigation bar */
    display: flex; /* Ensure flex layout for alignment */
    align-items: center; /* Align items vertically */
    width: 100%; /* Full width within the navigation bar */
    padding: 0 20px; /* Adjust padding as needed */
  }
  
  .ant-input-search {
    width: 100%;
    max-width: 400px; /* Adjust width as needed */
    margin-left: auto; /* Align search input to the right */
    border: 2px solid #ccc; /* Add border color */
    border-radius: 4px; /* Optional: Rounded corners */
  }
  
  .ant-input-search .ant-input {
    text-align: left; /* Align text input to the right */
    color: #09697D;
  }
  
  .ant-btn.ant-btn-primary {
    background-color: #09697d;
    border-color: #09697d;
  }
  
  .ant-btn.ant-btn-primary:hover {
    background-color: #09eded !important; /* Ensure specificity */
    border-color: #09697d !important; /* Ensure specificity */
    color: #09697d !important; /* Text color on hover */
  }

  /* Adjust styles for the Drawer */
  .floating-card {
    max-width: 80%; /* Maximum width of the card */
    width: auto; /* Adjust width as needed */
    position: fixed; /* Fixed position to float */
    top: 20%; /* Adjust top position */
    left: 70%; /* Center horizontally */
    transform: translateX(-68%); /* Center horizontally */
    max-height: 75vh; /* Maximum height of the card */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
    z-index: 1000; /* Ensure it appears above other content */
    background-color: #fff; /* Background color */
    padding: 20px; /* Padding around content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: Box shadow for card */
    border-radius: 25px;
  }
  