.summary-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 42vh;
    background-color: #09697D; /* Example background color */
    border-radius: 10px;
  }

  .summary-containe:hover {
  
    box-shadow: 0 4px 10px rgba(9, 237, 237); /* Increase shadow to make it pop */
  }
  
  
  